<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use
var cars = [
	{ "make":"Porsche", "model":"911S" },
	{ "make":"Mercedes-Benz", "model":"220SE" },
	{ "make":"Jaguar","model": "Mark VII" }
];

var mockState =
[
    { "feature":"species1", "value":"Pikachu" },
    { "feature":"item1", "value":"Leftovers" }
];

window.onload = function() {
	// setup the button click
	document.getElementById("theButton").onclick = function() {
		doWork()
	};
}

function doWork() {
	// ajax the JSON to the server
    // Test: issue mock state for mock nn
	$.post("nn", JSON.stringify(mockState), function(data, status){
        document.getElementById("data").innerHTML = "Data: " + data;
        document.getElementById("status").innerHTML = "Status: " + status;
	});
	// stop link reloading the page
 event.preventDefault();
}
</script>
This will send data using AJAX to Python:<br /><br />
<a href="" id="theButton">Click Me</a>
<p id="data">Hier is nix :)</p>
<p id="status">Hier is garnix :(</p>
